lab1/initial_q_qlearning.png
lab1/max_prob_exit_over_time.png
lab1/plots/
lab1/q/
lab1/sarsa_adaptive_epsilon/
lab1/sarsa_adaptive_epsilon2/
lab1/sarsa_epsilon_0.10/
lab1/sarsa_epsilon_0.30/
lab1/sarsa_epsilon_0.70/
lab1/part-g2
lab1/update-freq
